<br>

  <div class="col-md-9">
    <!-- <div class="panel-body">
      <canvas id="bar" class="chart chart-bar"chart-data="data" chart-labels="labels">
      </canvas>
    </div> -->

    <div class="panel-body">
      <canvas id="line" class="chart chart-line"chart-data="data" chart-labels="labels"
        chart-series="series" chart-options="options" chart-datasets-override="datasetOverride">
      </canvas>
    </div>

    <div class="panel-body">
      <canvas id="bar" class="chart chart-pie"chart-data="data" chart-labels="labels">
      </canvas>
    </div>
  </div>
