 <div class="list-group">
        <a ui-sref="dashboard" class="list-group-item active">Dashoard</a>
        <a ui-sref="dashboard.costAnalysis" class="list-group-item ">Graph</a>
        <a ui-sref="dashboard.activeCall" class="list-group-item ">Active Calls</a>
        <a ui-sref="dashboard.totalCall" class="list-group-item ">Total Calls</a>
        <a ui-sref="dashboard.acceptedCall" class="list-group-item ">Accepted calls</a>
        <a ui-sref="dashboard.rejectedCall" class="list-group-item">Rejected Calls</a>
        <a ui-sref="dashboard.completeCall" class="list-group-item ">Complete Calls</a>
        <a ui-sref="dashboard.incompleteCall" class="list-group-item ">Incomplete Calls</a>
 </div>